@import url(https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);

:root {
    --primary:#4b8996; 
    --primary-alt:#3E587B;
    --secondary:#87d0dc;
    --secondary-alt:#a9dcdf;
    --bg: #12141c;
    --text: #E4EFFF;

    --title: 'Fredericka the Great'; 
    --regular: 'Neucha', cursive;
}

body{
  background-color: var(--bg);
}

a{
  background-color: transparent;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:focus {
  color: lightblue;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-sm-12, .col-md-6 {
  height: 100%;
  width: 100%;
}

img {
  margin-top: 20px;
}

.bouton1 {
  position: absolute;
  background-color: transparent;
  border: none;
  color: var(--text);
  font-family: var(--regular);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 2.5vw;
  border-radius: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 2;
}

.bouton1:hover,
.bouton2:hover,
.bouton3:hover {
  background-color: darkblue;
}

.titre1 {
  font-family: var(--title);
  font-size: 40px;
  color: var(--text);
  text-transform: uppercase;
}

.liste1 {
  font-family: var(--regular);
  font-size: 25px;
  color: var(--secondary) 
}

.horrible-kids {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.titre2 {
  font-family: var(--title);
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 735px;
  z-index: 2;
  color: var(--text);
  text-transform: uppercase;
}

.liste2 {
  font-family: var(--regular);
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 790px;
  z-index: 2;
  color: var(--secondary) 
}

.cinematics {
  position: absolute;
  left: 0;
  top: 730px;
  z-index: 2;
}

.bouton2 {
  position: absolute;
  right: 130px;
  top: 1270px;
  background-color: var(--primary);
  border: none;
  color: var(--text);
  font-family: var(--regular);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
  border-radius: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 2;
}

.titre3 {
  font-family: var(--title);
  font-size: 40px;
  position: absolute;
  top: 1440px;
  color: var(--text);
  text-transform: uppercase;
}

.liste3 {
  font-family: var(--regular);
  font-size: 25px;
  position: absolute;
  top: 1500px;
  color: var(--secondary) 
}

.duality {
  position: absolute;
  height: 550px;
  right: 0;
  top: 1420px;
  z-index: 2;
}

.bouton3 {
  position: absolute;
  top: 1910px;
  background-color: var(--primary);
  border: none;
  color: var(--text);
  font-family: var(--regular);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
  border-radius: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  img {
     margin-top: 0px;
  }
  
  .horrible-kids {
    width: 100%;
    top: 505px;
  }

  .cinematics {
    width: 100%;
    top: 1620px;
  }
  .titre2 {
    left: 10px;
    top: 1000px;
  }
  .liste2 {
    left: 10px;
    top: 1055px;
  }
  .bouton2 {
    left: 10px;
    top: 1560px;
  }

  .duality {
    width: 100%;
    top: 2700px;
    height: auto;
  }
  .titre3 {
    left: 10px;
    top: 2150px;
  }
  .liste3 {
    left: 10px;
    top: 2220px;
  }
  .bouton3 {
    left: 10px;
    top: 2645px;
  }
}